/OdometryMovingObstacles
/WS/pose
/accel/filtered
/associated_cones
/au_AuxPowerStatus
/au_Imu
/au_ResetTopMicro
/au_USData
/imu_yaw
/imu_yaw_stamped
/imu_with_position
/au_USDataBL
/au_USDataBR
/au_USDataFL
/au_USDataFR
/au_XsYawProcessed
/au_XsYawProcessedStamped
/au_armAmps
/au_armAmpsAlarm
/au_auxPowerOff
/au_auxPowerOn
/au_baseAlarmNum
/au_baseLoopLength
/au_batteryVoltage
/au_currentArm
/au_currentEncoderPulses
/au_currentLinears
/au_currentPWM
/au_currentPlatform
/au_currentTable
/au_desiredArm
/au_desiredLinears
/au_dirPlatform
/au_dirTable
/au_gCurrentLeft
/au_gCurrentRight
/au_gDesiredLeft
/au_gDesiredRight
/au_glAmps
/au_grAmps
/au_limitSwitch
/au_monitor
/au_powerUWB
/au_resetArmAmpsAlarm
/au_resetGripperAmpsAlarm
/au_resetWheelAmpsAlarm
/au_setArmMode
/au_setFanSpeed
/au_systemLoadAmps
/au_tempCRU
/au_topAlarmNum
/au_totalRunTime
/au_wheelAmps
/au_whiteLightFollowMe
/auto_arm_cmd
/auto_cmd_vel
/auto_platform_cmd
/auto_table_cmd
/base_scan
/base_scan_auto
/base_scan_cloud
/base_scan_float
/base_scan_follow
/base_scan_grip_blocked
/bestPot
/ca
/cd
/client_count
/closestPot
/cloud
/cmd_vel
/cone_cloud_detected
/cone_heading
/cone_image
/cone_pose
/connected_clients
/cpu_monitor/PotAdjuster/cpu
/cpu_monitor/PotAdjuster/mem
/cpu_monitor/ag_communicator_v3/cpu
/cpu_monitor/ag_communicator_v3/mem
/cpu_monitor/ais_lidar_localization/cpu
/cpu_monitor/ais_lidar_localization/mem
/cpu_monitor/ais_main_node/cpu
/cpu_monitor/ais_main_node/mem
/cpu_monitor/azd_drivers/cpu
/cpu_monitor/azd_drivers/mem
/cpu_monitor/base_scan_relay/cpu
/cpu_monitor/base_scan_relay/mem
/cpu_monitor/camera_lidar/cpu
/cpu_monitor/camera_lidar/mem
/cpu_monitor/cone_detection/cpu
/cpu_monitor/cone_detection/mem
/cpu_monitor/ekf_se/cpu
/cpu_monitor/ekf_se/mem
/cpu_monitor/follow_me/cpu
/cpu_monitor/follow_me/mem
/cpu_monitor/fsm_runtime_monitor/cpu
/cpu_monitor/fsm_runtime_monitor/mem
/cpu_monitor/global_pot_mapping_node/cpu
/cpu_monitor/global_pot_mapping_node/mem
/cpu_monitor/imu_republisher/cpu
/cpu_monitor/imu_republisher/mem
/cpu_monitor/joint_state_publisher/cpu
/cpu_monitor/joint_state_publisher/mem
/cpu_monitor/laser_filter/cpu
/cpu_monitor/laser_filter/mem
/cpu_monitor/laser_object_query_node/cpu
/cpu_monitor/laser_object_query_node/mem
/cpu_monitor/laser_pose_publisher/cpu
/cpu_monitor/laser_pose_publisher/mem
/cpu_monitor/lidar_converter_node/cpu
/cpu_monitor/lidar_converter_node/mem
/cpu_monitor/manual_input/cpu
/cpu_monitor/manual_input/mem
/cpu_monitor/micro_base/cpu
/cpu_monitor/micro_base/mem
/cpu_monitor/micro_manipulator/cpu
/cpu_monitor/micro_manipulator/mem
/cpu_monitor/monitor_micro_base/cpu
/cpu_monitor/monitor_micro_base/mem
/cpu_monitor/monitor_micro_manipulator/cpu
/cpu_monitor/monitor_micro_manipulator/mem
/cpu_monitor/move_base/cpu
/cpu_monitor/move_base/mem
/cpu_monitor/odom_publisher/cpu
/cpu_monitor/odom_publisher/mem
/cpu_monitor/odom_republisher/cpu
/cpu_monitor/odom_republisher/mem
/cpu_monitor/pickup_feasibility_node/cpu
/cpu_monitor/pickup_feasibility_node/mem
/cpu_monitor/pickup_test/cpu
/cpu_monitor/pickup_test/mem
/cpu_monitor/platform_cmd_mux/cpu
/cpu_monitor/platform_cmd_mux/mem
/cpu_monitor/pot_detection/cpu
/cpu_monitor/pot_detection/mem
/cpu_monitor/potcloud_tracker/cpu
/cpu_monitor/potcloud_tracker/mem
/cpu_monitor/recorder_node/cpu
/cpu_monitor/recorder_node/mem
/cpu_monitor/robot_state_publisher/cpu
/cpu_monitor/robot_state_publisher/mem
/cpu_monitor/robot_status_monitor/cpu
/cpu_monitor/robot_status_monitor/mem
/cpu_monitor/rosapi/cpu
/cpu_monitor/rosapi/mem
/cpu_monitor/rosbridge_websocket/cpu
/cpu_monitor/rosbridge_websocket/mem
/cpu_monitor/rosout/cpu
/cpu_monitor/rosout/mem
/cpu_monitor/safety_check_node/cpu
/cpu_monitor/safety_check_node/mem
/cpu_monitor/sensors_monitor/cpu
/cpu_monitor/sensors_monitor/mem
/cpu_monitor/sick_mrs_1xxx/cpu
/cpu_monitor/sick_mrs_1xxx/mem
/cpu_monitor/sick_tim_5xx/cpu
/cpu_monitor/sick_tim_5xx/mem
/cpu_monitor/sort_tracker/cpu
/cpu_monitor/sort_tracker/mem
/cpu_monitor/table_cmd_mux/cpu
/cpu_monitor/table_cmd_mux/mem
/cpu_monitor/total_active_mem
/cpu_monitor/total_available_mem
/cpu_monitor/total_buffers_mem
/cpu_monitor/total_cached_mem
/cpu_monitor/total_cpu
/cpu_monitor/total_free_mem
/cpu_monitor/total_inactive_mem
/cpu_monitor/total_used_mem
/cpu_monitor/uwb_map_localize/cpu
/cpu_monitor/uwb_map_localize/mem
/cpu_monitor/uwb_pose_throttle/cpu
/cpu_monitor/uwb_pose_throttle/mem
/cpu_monitor/xsens_mti/cpu
/cpu_monitor/xsens_mti/mem
/cpu_monitor/zed_republisher/cpu
/cpu_monitor/zed_republisher/mem
/cpu_temperature
/current_ref_pot
/danger_points
/decision_making/monitoring
/decision_making/pickup_test/events
/desired_point
/diagnostics
/dist_angular
/dist_linear
/droppedPotsCloud
/encoder
/field_points
/clustered_array
/filteredLidarCloud
/filtered_cloud
/filtered_scan
/finalRefPotGlobal
/front_cloud
/front_diagnostics
/front_imu
/gapPotPoint
/global_heading
/global_heading
/gSwitch_statusLeft
/gSwitch_statusRight
/gapPotPoint
/global_heading
/global_with_orientation
/icp_corrected_ref_pot_rel
/imu
/imu_republished
/initialpose
/joint_states
/laser_object_query_node/initial_reference_laser_scan
/laser_object_query_node/reference_cloud
/laser_pose_stamped
/laser_pose_with_covariance
/last_pot_seen
/leg_detector/parameter_descriptions
/leg_detector/parameter_updates
/leg_tracker_measurements
/legs
/map
/map_metadata
/mask_cloud
/masked_cloud
/mti/filter/position
/mti/filter/velocity
/mti/sensor/gnssPvt
/mti/sensor/magnetic
/mti/sensor/pressure
/mti/sensor/sample
/mux_arm_cmd/selected
/mux_base_scan/selected
/mux_cmd_vel/selected
/mux_platform_cmd/selected
/mux_table_cmd/selected
/new_ref_pot
/object_boundary
/object_boundary_arm
/occupancy_cloud
/odom
/odom_global
/odom_zed_transformed
/odometry/filtered
/one_cone_seen_percentage
/paramYaml
/pcl_cloud_right
/pcl_cloud_left
/person_point
/pickup_test/collision_check_path
/pickup_test/footprint
/platform_controller/joint_states
/pose_visualization_marker
/potCloud_filtered_trakced
/potDir
/pot_cloud
/pot_cloud_all_sync_imu
/pot_cloud_all_tracked_filtered
/pot_cloud_costmap
/pot_cloud_costmap_updates
/pot_cloud_detection
/pot_cloud_feasible
/pot_cloud_global
/pot_cloud_pickable
/pot_cloud_safe_pickable
/pot_cloud_prev_row_filtering
/pot_cloud_unfiltered
/pot_coordinates
/pot_detection/parameter_descriptions
/pot_detection/parameter_updates
/pot_rows_viz
/prev_row_ref_pot_rel
/rawRefPotRel
/readDir
/refPotRel
/robotModeChange
/robotName
/robotPose
/robot_pos_after_backout
/robot_pose_ekf/odom_combined
/rosout
/rosout_agg
/safety_error_msg
/safety_status
/scan
/scriptable_monitor/add_script
/scriptable_monitor/remove_script
/set_pose
/sick_mrs_1xxx/parameter_descriptions
/sick_mrs_1xxx/parameter_updates
/sick_scan
/sick_tim571_2050101/parameter_descriptions
/sick_tim571_2050101/parameter_updates
/sick_tim_5xx/parameter_descriptions
/sick_tim_5xx/parameter_updates
/target_visualization_marker
/temperature
/tf
/tf_static
/tracker_reset
/tracked_measurements
/unfilteredLidarCloud
/uwb/pose_trilateration
/visualization_marker
/wheelodom
/wheelodom_republished
/zed_node/confidence/camera_info
/zed_node/confidence/confidence_image
/zed_node/odom
/zed_node/parameter_descriptions
/zed_node/parameter_updates
/zed_node/path_map
/zed_node/path_odom
/zed_node/pose
/zero_cmd_vel
/image_annotated
/record/start
/record/stop
/filter_pot_cloud_polygon
/odrive/raw_odom/encoder_left
/odrive/raw_odom/encoder_right
/odrive/raw_odom/velocity_left
/odrive/raw_odom/velocity_right
/odrive/left_current
/odrive/right_current
/global_heading_diff
